@using RightpointLabs.Pourcast.Domain.Models
@model RightpointLabs.Pourcast.Web.Areas.Admin.Models.CreateKegViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>New Keg</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BeerId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BeerId, Model.Beers, new{ @class="pcSelect2", id = "ddlBeers"})
                @Html.ValidationMessageFor(model => model.BeerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Capacity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacity)
                @Html.ValidationMessageFor(model => model.Capacity)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#ddlBeers').select2({ width: "resolve" });
        })
    </script>
}
