@model RightpointLabs.Pourcast.Web.Areas.Admin.Models.KegModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.BeerName</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountOfBeerRemaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfBeerRemaining, "Number")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentRemaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentRemaining, "Percentage")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmpty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmpty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOnTap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOnTap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
