<<<<<<< HEAD
﻿@model RightpointLabs.Pourcast.Application.Commands.CreateBeer
=======
﻿@model RightpointLabs.Pourcast.Domain.Models.Beer
>>>>>>> Can create brewery.

@{
    ViewBag.Title = "CreateBeer";
}

<h2>CreateBeer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Beer</h4>
        <hr />
        @Html.ValidationSummary(true)
<<<<<<< HEAD
        
=======

>>>>>>> Can create brewery.
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
<<<<<<< HEAD
            @Html.LabelFor(model => model.BreweryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BreweryName, new {@readonly = "readonly"})
                @Html.ValidationMessageFor(model => model.BreweryName)
            </div>
            @Html.HiddenFor(m => m.BreweryId)
=======
            @Html.LabelFor(model => model.BreweryId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BreweryId)
                @Html.ValidationMessageFor(model => model.BreweryId)
            </div>
>>>>>>> Can create brewery.
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ABV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ABV)
                @Html.ValidationMessageFor(model => model.ABV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BAScore, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BAScore)
                @Html.ValidationMessageFor(model => model.BAScore)
            </div>
        </div>

        <div class="form-group">
<<<<<<< HEAD
=======
            @Html.LabelFor(model => model.RPScore, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RPScore)
                @Html.ValidationMessageFor(model => model.RPScore)
            </div>
        </div>

        <div class="form-group">
>>>>>>> Can create brewery.
            @Html.LabelFor(model => model.Style, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Style)
                @Html.ValidationMessageFor(model => model.Style)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Color, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Color)
                @Html.ValidationMessageFor(model => model.Color)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Glass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Glass)
                @Html.ValidationMessageFor(model => model.Glass)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
