@model IEnumerable<RightpointLabs.Pourcast.Domain.Models.Brewery>

@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('button[name="btnBreweryDetails"]').on('click', function() {
                var breweryId = $(this).attr("data-breweryid");
                $.ajax({
<<<<<<< HEAD
<<<<<<< HEAD
                    url: '@Url.Action("PartialDetails", "Brewery")/' + breweryId,
=======
                    url: '@Url.Action("Details", "Brewery")/' + breweryId,
>>>>>>> Can create brewery.
=======
                    url: '@Url.Action("PartialDetails", "Brewery")/' + breweryId,
>>>>>>> Can create brewery and can add/create beers for the brewery.  Also, added commands
                    format: 'json',
                    type: 'get'
                }).done(function (data) {
                    $('#breweryDetails').html(data);
<<<<<<< HEAD
                    $('#backToList').on('click', function() {
                        $('#breweryDetails').html('');
                    });
=======
>>>>>>> Can create brewery.
                });
            });
        });

    </script>
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-lg-6">
        @Html.Partial("_BreweryList", Model)
    </div>
<<<<<<< HEAD
    <div class="col-lg-4 pull-right" id="breweryDetails">
=======
    <div class="col-lg-6" id="breweryDetails">
>>>>>>> Can create brewery.
    </div>
</div>