@using RightpointLabs.Pourcast.Web.Properties
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@Html.Raw(string.Format("{0} - {1}", Resources.Application, Resources.Description))</title>
    <script type="text/javascript" src="//use.typekit.net/nkq0kvi.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/bootstrap-theme")
    <link href="~/Content/bubbles.css" rel="stylesheet" /> @* The bundler hates this file for some reason *@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizer")
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> @* temp til we get images for speach bubbles*@
</head>
<body>
    @RenderBody()
    <footer>
        <p>@Html.Raw(string.Format("&copy; {0} - {1} {2} <br /> {3}", DateTime.Now.Year, Resources.Company, Resources.Application, Resources.Made))</p>
    </footer>
    
    @RenderSection("templates", required: false)
    
    <script src="~/Scripts/libs/require.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>