@using RightpointLabs.Pourcast.Web.Properties
@model IEnumerable<RightpointLabs.Pourcast.Web.Areas.Admin.Models.TapModel>

@{
    ViewBag.Title = Resources.Admin_Home_Title;
}

<h2>@Resources.Admin_Home_Title</h2>

<div class="row">
    @foreach (var tap in Model)
    {
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">@tap.Name</div>
                <div class="panel-body">
                    @if (null == tap.Keg)
                    {
                        <h4>No Keg On Tap</h4>
                    }
                    else
                    {
                        <h4>@tap.Keg.BeerName</h4>
                        <p>
                            Amount of Beer Remaining: @tap.Keg.AmountOfBeerRemaining.ToString("N0") <br />
                            Percent Left: @tap.Keg.PercentRemaining.ToString("P1") <br />
                        </p>
                    }
                    <div class="btn-group">
                        @Html.ActionLink("Edit Tap", "Edit", "Tap", new { id = tap.Id }, new { @class = "btn btn-default" })
                        @if (tap.Keg != null)
                        {
                            @Html.ActionLink("Edit Keg", "Edit", "Keg", new { id = tap.Keg.Id }, new { @class = "btn btn-default" })
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-lg btn-primary" id="btnClientRefresh">Refresh all connected clients</button>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#btnClientRefresh").each(function () {
                var $t = $(this);
                $t.click(function () {
                    $.getJSON("/Admin/Home/Refresh");
                });
            });
        });
    </script>
}