@model IEnumerable<RightpointLabs.Pourcast.Web.Areas.Admin.Models.TapModel>

@{
    ViewBag.Title = "Index";
}

<h2>Taps</h2>

@foreach (var tap in Model)
{
    <div class="col-lg-6">
        <h3>@tap.Name</h3>
        @if (null == tap.Keg)
        {
            <h4>No Keg On Tap</h4>
            <hr />
        }
        else
        {
            <h4>@tap.Keg.BeerName</h4>
            <p>
                Amount of Beer Remaining: @tap.Keg.AmountOfBeerRemaining <br />
                Percent Left: @tap.Keg.PercentRemaining <br />
            </p>
        }
        <p>
            @Html.ActionLink("Edit", "Edit", new {id = tap.Id})
        </p>
    </div>
}
<p>
     |
    @Html.ActionLink("Back to List", "Index")
</p>
